
.align {
  padding-left: 225px;
}


.mic-mute-button{
  display: inline-block;
  width:40px;
  height:40px;
  border-radius: 47px 47px 47px 47px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.175s linear;
  border: none;
  outline: none;
  color: #FFFFFF;
  background-color: #FFFFFF ;
}
.mic-mute-button:focus{
  border: none;
  outline: none;
}
.mic-mute-button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.mic-mute-button:disabled {
  opacity: 0.6;
  box-shadow: 0 ;
}
.button-table{
  border-collapse: separate;
  border-spacing: 6px;
}
.buffer{
  padding: 100px;
}

.go-live{
  background-color: #4CAF50 !important; 
  min-height:80px;
  min-width: 160px;
  border-radius: 15px;
  transition: all 0.175s linear;
}
.go-live:hover:enabled{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.go-live:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: 0 ;
}
.go-stream:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: 0 ;
}
.stop-stream{
  background-color: #f44336;
  height:80px;
  width: 160px;
  border-radius: 15px;
  transition: all 0.175s linear;
}
.stop-stream:hover:enabled{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.stop-stream:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: 0 ;
}
.App-camera {
  margin-left: 10px;
  max-width: 360px;
  max-height: 240px;
}
.App-video {
  max-width: 720px;
  max-height: 480px; 
  border-style: hidden;
  border-color: #f44336;
  border-radius: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Live-header {
  background-color: #FFFFFF;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(3, 2, 2);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

textarea {
    max-height:600px !important;
	min-height:25% !important;
    width: 100% !important; 
    box-sizing: border-box !important;
	
}
.new_message {
	width:100% !important;
	box-sizing: border-box !important;
}
.streamConcludedText{
  visibility: hidden;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #f44336;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
